Options +FollowSymLinks
Options +Indexes
RewriteEngine On
RewriteBase /
RewriteRule livestreams conlivestreamsnexion.php
RewriteRule watch watch.php
RewriteRule channels channels.php
RewriteRule replays replays.php
RewriteRule members comptes/users.php
RewriteRule forum forum/index.php
RewriteRule ^live-([0-9]+).live$ watch.php?id=$1
RewriteRule ^(*).user$ account/profile.php?id=$1

ErrorDocument 404 /includes/404.php