<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <connectionStrings>
        <add connectionString="server=localhost;uid=openlivestUrkcw;pwd=4g_mya@-#]4S;Database=openlivestreamplatform" name="openlivestreamplatform" providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>
